* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 20rem;
    height: auto;
    margin: 10vh auto;
    background-color:  rgba(0, 170, 156);
    border-radius: 10px;
    box-shadow: 3px 8px 1px 2px rgba(20, 20, 20, 0.7);
    border: 3px solid rgba(20, 20, 20, 0.5);
}

button {
    background-color:#616161;
    color:rgb(201, 201, 201);
    transition: all 0.2s ease 0s;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(20, 20, 20, 0.5);
}

#big-btn:active {
    transition: background-color 0.2s ease-out;
    background-color: rgb(201, 201, 201);
    color: #616161;
}

button:active {
    background: #3f3f3f;
    transform: scale(0.95);
    box-shadow: 2px 2px rgba(20, 20, 20, 0.5);
}
#table {
    display: grid;
    margin: 1rem;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows:  minmax(9rem, auto) repeat(5, 3.5rem);
    gap: 0.5rem;
}

#big-btn {
    grid-column: span 3;
}

.output {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    word-wrap: break-word;
    grid-column: 1/ -1;
    background-color: #3B3B3B;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(20, 20, 20, 0.5);
    color: rgba(0, 170, 156);
    padding: 1rem;
    overflow: hidden;
    max-height: 80vh;
    text-align: right;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.current-output{
    font-size: 35px;
    text-shadow: 3px 3px 3px  rgb(10, 19, 18);
}

.previous-output {
    font-size: 16px;
    text-shadow: 3px 3px 3px  rgb(10, 19, 18);
}